<!DOCTYPE html>
<html>
  <head>
    <title><%t('.title')%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_pack_tag 'locale_switcher', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <%= render "search/form" %>
  
        <aside>
          <%= form_tag store_index_path, class: 'locale' do %>
            <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
            <%= submit_tag 'submit', id: "submit_locale_change" %>
          <% end %>
        </aside>
        <h1>
          <%= image_tag 'logo.png', alt: 'logo' %> <%= @page_title || t('.title') %>
        </h1>
    </header>

    <section class="content">
      <nav class="side_nav">
        <% if @cart %>
          <div id="cart" class="carts">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>
        <ul>
          <li><a href="/"> <%= t('.home') %> </a></li>
          <li><a href="/"> <%= t('.questions') %> </a></li>
          <li><a href="/"> <%= t('.news') %> </a></li>
          <li><a href="/rails/conductor/action_mailbox/inbound_emails/new"> <%= t('.contact') %> </a></li>
          <% if session[:user_id] == nil %>
            <li><%= link_to t('.login'), login_path %></li>
          <% end %>
        </ul>
        
      <% if session[:user_id] %>
        <nav class="logged_in_nav">
          <ul>
            <li><%= link_to t('.orders'), orders_path %></li>
            <li><%= link_to t('.products'), products_path %></li>
            <li><%= link_to t('.users'), users_path %></li>
            <li><%= link_to t('.support'), support_requests_path %></li>
            <li><%= button_to t('.logout'), logout_path, method: :delete, data: { confirm: 'Do you want to log out?' }%></li>
          </ul>
        </nav>
      <% end %>

      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
