<!DOCTYPE html>
<html>
  <head>
    <title>Books Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
        <h1>
          <%= image_tag 'logo.png', alt: 'logo' %> <%= @page_title || "Books Store" %>
        </h1>
    </header>

    <section class="content">
      <nav class="side_nav">
        <% if @cart %>
          <div id="cart" class="carts">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Questions</a></li>
          <li><a href="/">News</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      <% if session[:user_id] %>
        <nav class="logged_in_nav">
          <ul>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        </nav>
      <% end %>

      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
